<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Bootstrap</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ea beatae quidem magni architecto natus illum
    atque quas libero. Consequuntur, hic corrupti. Ut reprehenderit fugit nisi commodi voluptate est inventore, corrupti
    voluptatum rem voluptatibus doloribus facere debitis eos veritatis.</p>
</body>

</html>